#otsikko {
    white-space: nowrap;   
    font-size: 24px;
    margin-bottom: 40px;
}

#blue {
    color: lightblue;          
    cursor: url("cursor.png"), auto; 
    font-size: 20px;
    margin-bottom: 40px;
}

#lista {
    list-style-image: url("bullet.png");  
    font-size: 20px;
}